DATABASE_URL=
RECKON_API_PORT=8787
RECKON_LOG_LEVEL=info

MODEL_PROVIDER=
MODEL_NAME=
MODEL_API_KEY=

OBJECT_STORAGE_ENDPOINT=
OBJECT_STORAGE_BUCKET=
OBJECT_STORAGE_ACCESS_KEY=
OBJECT_STORAGE_SECRET_KEY=

WORKER_CONCURRENCY=4